
<!-- <app-nav-menu></app-nav-menu>
<h1>Employee Details</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone </th>
      <th>Dept</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emplist of employeelist">
      <td>{{ emplist.empName }}</td>
      <td>{{ emplist.empEmail }}</td>
      <td>{{ emplist.empPhone }}</td>
      <td>{{ emplist.empDept }}</td>
      <td>
        <input type="button" value="Edit"> | <input type="button" value="Delete" (click)="OnDelete(emplist.empId)"> 
      </td>
    </tr>
  </tbody>
</table> -->
